.header_top {
  background-color: #2d4f57;
  display: block;    
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 64;
}
.SEARCH_FUNDO {
  position: relative;
    border-bottom-style: groove;
  background-image: url(FUNDO.png);    
  background-color: #66cccc;  
  width: 100%;
  height: 400px;
  z-index: 22;
}

.center_img{
	align-content:center;
	margin: 0 auto;
	
	}

.TV {
background-image: url("Imagens/FUNDO.png");
    display: block;
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 
 
}

.SEARCH {  
    background-color: #ffffff;
    position: fixed;
    left: 850px;
    top: 253px;    
    margin: 0 auto;
    display: block;
    width: 20%;
    height: 45px;
    text-align: center;
    border: none;   
    z-index: 27;
}







.search {    
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: 80px;
    top: 40%;
    transform: translateY(-50%); 
}

.search_input {
    margin: 0 auto;    
    height: 45px;
    width: 500px;
    position: absolute;
    left: 10px;
    border: none;
    
}

.Parceiros {
    background-color: #e8e9e9;
    width: 100%;
    height: 200px;
    
    
}

#owl-demo .item{
        background: #42bdc2;
        padding: 30px 0px;
        margin: 5px;
        color: #FFF;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
    }