.header_top {
  background-color: #2d4f57;
  display: block;    
  left: 0px;
  top: 0px;
  width: 100%;
  height: 70px;
  z-index: 64;
}
.SEARCH_FUNDO {
  position: relative;
    border-bottom-style: groove;
  background-image: url(FUNDO.png);    
  background-color: #66cccc;  
  width: 100%;
  height: 400px;
  z-index: 22;
}

.center_img{
	align-content:center;
	margin: 0 auto;
	
	}

.TV {
background-image: url("Imagens/FUNDO.png");
    display: block;
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 
 
}

.SEARCH {  
    background-color: #ffffff;
    position: fixed;
    left: 850px;
    top: 253px;    
    margin: 0 auto;
    display: block;
    width: 20%;
    height: 45px;
    text-align: center;
    border: none;   
    z-index: 27;
}







.search {    
    position: relative;
    width: 30%;
    margin: 0 auto;
    height: 80px;
    top: 40%;
    transform: translateY(-50%); 
}

.search_input {
    margin: 0 auto;    
    height: 45px;
    width: 500px;
    position: absolute;
    left: 10px;
    border: none;
    
}

.Parceiros {
    background-color: #e8e9e9;
    width: 100%;
    height: 200px;
    
    
}

.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		 { left: -25%; }
.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}